@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
  box-sizing: border-box;
}
  
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding-left: 1rem;
  background-color: red;
  box-shadow: 1px 1px 5px 3px #808080;
  color: #ffffff;
}
header > ul {
  list-style: none;
  display: flex;
  align-items: center;
}
header > ul li {
  margin-right: 10px;
}
.auth-link:hover {
  cursor: pointer;
}
header > ul img {
  height: 2rem;
  border-radius: 50%;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
 
}
.card {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 20vh;
  border-radius: 3%;
  background-color: powderblue;
  margin: 1em;
  
}
.card article {
  /* overflow: scroll; */
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.card article > div:first-child {
  overflow-wrap: break-word;
  
  ;
}
.card article > div:last-child{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.edit, .delete:hover {
  cursor: pointer;
}
.delete{
  padding-right: 10px;
  
}
.edit {
  padding-left: 5px;
}
.comments {
  font-family: 'Dancing Script', cursive;
  margin-top: 40%;
}
  


/* main {
   flex-grow: 1; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
/* }  */
  
/* section > article {
  display: flex;
  justify-content: space-between;
  min-width: 15rem;
  color: white;
  margin: 0.1rem;
  background-color: black;
}
  
article > div {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
article > div:nth-child(1) {
  flex-grow: 1;
  
}
  
article > div:nth-child(2) {
  width: 10rem;
  background-color: red;
  justify-content: center;
}
article > div:nth-child(3) {
  width: 2rem;
  background-color: black;
  
}
article > div:nth-child(4) {
  width: 2rem;
  background-color: orangered;
  
}

article > div:nth-child(3),
article > div:nth-child(4):hover {
  cursor: pointer;
  /* box-shadow: 1px 1px 2px 2px #808080; */
 /* }  */
  
label {
  color: powderblue;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

label span {
  color: darkblue;
  width: 4.5rem;
  resize: none;
}
span {
/* margin-left: 60%; */
}
  
input, textarea, button {
  width: 11rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.4rem;
  color: black;
  border: 2px solid darkblue;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
}
  
button {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 0.5rem 21.7rem 0 auto;
  padding: 0.4rem;
  background-color: red;
  color: white;
  border: none;
  outline: none;
}
  
button:hover {
  color: white;
  background-color: powderblue;
} 

